on: push

jobs:
  cs:
    name: PHPCS
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: PHPCS
      run: |
        composer install
        composer phpcs-github
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v4
      if: always() # always run even if the previous step fails
      with:
        report_paths: '**/build/test-results/*.xml'
        detailed_summary: true
        check_name: PHPCS Report

  eslint:
    name: ESLINT
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install ESLint
        run: |
          npm install eslint@8.10.0
          npm install @microsoft/eslint-formatter-sarif@2.1.7

      - name: Run ESLint
        run: npx eslint assets/js
          --config .eslintrc.js
          --ext .js,.jsx,.ts,.tsx
        continue-on-error: true


  md:
    name: PHPMD
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: PHPMD
      run: |
        composer install
        composer phpmd-github
